#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book {
  display: flex;
  align-items: center;
  position: relative;
}

.book:hover {
  cursor: pointer;
}

.book .bookCover {
  z-index: 10;
  background-color: rgb(248, 248, 248);
  display: flex;
  border-radius: 6px;
  width: 200px;
  height: 240px;
  transition: transform 0.5s ease-in-out;
  transform: perspective(300px) rotateY(0deg);
  padding-right: 20px;
}

.book:hover .bookCover {
  transition: transform 0.5s ease-in-out;
  transform: perspective(300px) rotateY(-5deg);
}

.book .bookCover .binder {
  width: 15%;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.book .bookSide {
  z-index: 5;
  position: absolute;
  right: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: white;
  width: 20px;
  height: 240px;
  transition: transform 0.5s ease-in-out;
  transform: perspective(300px) rotateY(90deg) translateX(20px);
}

.book:hover .bookSide {
  animation: transform 0.5s ease-in-out;
  transform: perspective(300px) rotateY(30deg) translateX(20px);
}

.book .bookBack {
  position: absolute;
  right: 0;
  background-color: rgb(248, 248, 248);
  border-radius: 6px;
  width: 200px;
  height: 230px;
  transition: transform 0.5s ease-in-out;
  transform: perspective(300px) rotateY(0deg);
  padding-right: 20px;
}

.book:hover .bookBack {
  transition: transform 0.5s ease-in-out;
  transform: perspective(300px) rotateY(-5deg) translateX(20px);
}
