.cube-container {
  perspective: 600px;
  width: 450px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube {
  position: relative;
  width: 270px;
  height: 230px;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #bae6fd;
  border-radius: 20px;
}

.front {
  transform: rotateX(63deg) rotateZ(30deg);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.back {
  position: absolute;
  width: calc(100% + 26px);
  height: calc(100% + 20px);
  margin: -12.5px;
  border-radius: 20px;
  background: #f4f4f5;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.18);
  transform: rotateX(63deg) rotateZ(30deg) translateZ(-20px);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 87px solid #3498db;
  transform: rotate(60deg) rotateX(-20deg);
}

.menuUp {
  animation: menuUp 0.7s ease-in-out forwards;
}

@keyframes menuUp {
  0% {
    transform: translate(0, 85%);
  }
  100% {
    transform: translate(0, 0%);
  }
}

.menuDown {
  animation: menuDown 0.7s ease-in-out forwards;
}

@keyframes menuDown {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 85%);
  }
}
