#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book {
  display: flex;
  align-items: center;
  position: relative;
}

.book:hover {
  cursor: pointer;
}

.book .bookCover {
  background: linear-gradient(to bottom right, #57a3f2, #3c86ec);
  z-index: 10;
  display: flex;
  border-radius: 12px;
  transition: transform 0.5s ease-in-out;
  transform: perspective(300px) rotateY(0deg);
  padding-right: 20px;
  display: flex;
  justify-content: center;
  padding: 18px;
}

.book:hover .bookCover {
  transition: transform 0.5s ease-in-out;
  transform: perspective(300px) rotateY(-5deg);
}

.book .bookCover .binder {
  width: 15%;
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); */
  box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.book .title {
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to bottom right,
    rgb(142, 189, 47),
    rgb(119, 161, 35)
  );
  border-radius: 12px;
  box-shadow: inset 2px 2px 7px rgba(255, 255, 255, 0.2),
    2px 2px 6px rgba(0, 0, 0, 0.2);
}
.book .bookSide {
  z-index: 5;
  position: absolute;
  right: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: linear-gradient(to left, white, #e2e2e2a7);
  transition: transform 0.5s ease-in-out;
  transform: perspective(300px) rotateY(90deg) translateX(20px);
}

.book:hover .bookSide {
  animation: transform 0.5s ease-in-out;
  transform: perspective(300px) rotateY(30deg) translateX(20px);
}

.book .bookBack {
  position: absolute;
  right: 0;
  border-radius: 12px;
  width: 200px;
  height: 230px;
  transition: transform 0.5s ease-in-out;
  transform: perspective(300px) rotateY(0deg);
  padding-right: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.23);
}

.book:hover .bookBack {
  transition: transform 0.5s ease-in-out;
  transform: perspective(300px) rotateY(-5deg) translateX(20px);
}
