#container {
  width: 230px;
  border-radius: 12px;
  padding: 12px;
  line-height: 1.25rem;
}

#title {
  font-size: 15px;
  font-weight: 600;
}

#content {
  font-size: 13px;
  margin-top: 6px;
  display: flex;
  align-items: start;
}

img {
  margin-top: 2px;
  margin-right: 3px;
}
